Source: myanon
Section: admin
Maintainer: Pierre POMES <pierre.pomes@gmail.com>
Priority: optional
Homepage: https://myanon.io
Build-Depends: debhelper (>= 7), flex (>= 2.6), bison (>= 3), automake (>= 1.15), autoconf (>= 2.69), libjq-dev (>=1.6), python3-dev (>=3.8)

Package: myanon
Architecture: any
Depends: libjq1 (>=1.6), python3-minimal (>=3.8)
Description: mysqldump anonymizer
 Myanon is a mysqldump anonymizer, reading a dump from stdin, and producing an 
 anonymized version to stdout
