name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: apt-get install -y python3-dev libjq-dev jq
    
    - name: autogen
      run: ./autogen.sh
    
    - name: configure
      run: ./configure --enable-python --enable-jq
      
    - name: build
      run: make
      
    - name: Run tests
      run: make check
