name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install dependencies
      run: sudo apt-get update && sudo apt-get install -y python3-dev valgrind

    - name: autogen
      run: ./autogen.sh

    - name: configure
      run: ./configure --enable-python

    - name: build
      run: make

    - name: Run tests
      run: make check

    - name: Run valgrind checks
      run: make valgrind-check
